<% provide(:title, @user.name) %>
<h1>タスク詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered show-table">
      <tbody>
        <tr>
          <th class="col-md-2 align-middle text-center show-th">ID</th>
          <td class="col-md-10"><%= @task.id %></td>
        </tr>
        <tr>
          <th class="text-center show-th">名称</th>
          <td><%= @task.name %></td>
        </tr>
        <tr>
          <th class="text-center show-th">詳細</th>
          <td><%= convert_url_into_a_tag(h(@task.description)).html_safe %></td>
        </tr>
        <tr>
          <th class="text-center show-th">作成日</th>
          <td><%= @task.created_at %></td>
        </tr>
        <tr>
          <th class="text-center show-th">更新日</th>
          <td><%= @task.updated_at %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "編集", edit_user_task_path(@user,@task), class: "btn btn-success btn-lg" %>
    <%= link_to "削除", user_task_path(@user,@task), method: :delete, class: "btn btn-danger btn-lg" %>
  </div><!-- ../col-md-1 -->
</div><!-- ../row -->